*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{

    margin: 0 20px;

}

h2{

    margin: 0;

}

.input_checkbox{

    display: flex;

}

.grey{

    color: grey;

}

.container{

    max-width: 1200px;
    margin: 20px auto 50px auto;
}

.row{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card{

    flex-basis: calc((100% - 40px)/3);
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 350px;
    min-height: 600px;
    padding: 50px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    
    border-radius: 20px;
}

.card_container{

    display: flex;
    flex-direction: column;

}
  
.card_title{

    font-size: 20pt;

}

.pro{

    color: white;
    background-color: #6500ff;

}

.features{

    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    margin-top: 20px;
    margin-top: 20px;

}

ul{

    list-style-type: none;
    display: flex;
    padding-left: 60px;
    gap: 20px;
    flex-direction: column;    

}

li{

    display: flex;
    align-items: center;
    gap: 10px;

}


.price{

    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap:5px;
    text-align: center;

}

.price_big{

    font-size: 40pt;
    font-weight: bolder;

}

.price_small{

    font-size: 15pt;

}

.bold{

    font-weight: bold;

}

button{

    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: #6500ff;
    color: white;
    font-size: 11pt;
    cursor: pointer;
}

.pro_button{

    color: #6500ff;
    background-color: white;

}

.discount_box{

    background-color: rgb(199, 199, 199);
    padding: 7px 10px;
    border-radius: 6px;
    color: black;


}

.discount_container{

    margin: 30px 0 10px 0;

}



@media(max-width:1129px) and (min-width:760px){

    .ultimate .features ul {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ultimate li {

        flex-basis: calc((100% - 20px)/2);

    }

}

.checkbox{

    position: relative;
    
}

.checkbox.active::after{

    content: "";
    position: absolute;
    left: 27px;
    top: -50%;
    transform: translateY(50%);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: white;

}
.checkbox::after{

    content: "";
    position: absolute;
    left: 2px;
    top: -50%;
    transform: translateY(50%);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: white;

}
.checkbox.active::before{

    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 23px;
    border-radius: 30px;
    background-color: black;

}
.checkbox::before{

    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 23px;
    border-radius: 30px;
    background-color: rgb(163, 163, 163);

}

.input_checkbox_container{

    display: flex;
    gap: 5px;
    width:130px;

}